<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Timestamp Microservice</title>
  <meta name="description" content="A timestamp microservice made with Glitch">
  <link id="favicon" rel="icon"
    href="https://cdn.glitch.com/e60fb47a-5a2d-44a0-9191-3d6c991c9ce2%2Ffullsizeoutput_e.jpeg?1553079000536"
    type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's client-side javascript file -->

</head>

<body>
  <header>
    <h1>
      Timestamp Microservice
    </h1>
  </header>

  <main>
    <p class="bold">The API endpoint is <code>GET [project_url]/api/timestamp/:date_string?</code></p>

    <p>Date string is valid if can be successfully parsed by <code>new Date(date_string)</code>.</p>

    <p>Use date strings compliant with ISO-8601 (e.g. <code>"2016-11-20"</code>) because this will ensure an UTC
      timestamp.</p>

    <h3>Example Usage:</h3>
    <ul>
      <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
      <li><a href="api/timestamp/1450137600000">[project url]/api/timestamp/1450137600</a></li>
    </ul>

    <h3>Example Output:</h3>
    <p>
      <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>

  </main>

  <footer>
    Made with <a href="https://glitch.com">Glitch</a>!
  </footer>

  <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix 
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script> -->

</body>

</html>