/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  background-color: black;
  color: #fff;
}

h1 {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

main {
  margin: 10px auto;
  border-left: 1px dotted red;
  max-width: 800px;
  text-align: left;
  padding: 10px 20px;
}

p,h3,ul {
  padding: 10px;
}

ul li {
  list-style-type:none;
  margin: 10px 0;
}


footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

a{
  color: green;
}